@charset "ISO-8859-1";
.modal-content{
    width: 386px;
    height: auto;
    left: 760px;
    top:170px;
}
form{
    margin-left: 70px;
    margin-right: 10px;
}
form h1{
 margin-left: 48px;
 margin-bottom:55px;
}
input[type="text"] {
    margin-bottom: 15px;
}
input[type="email"] {
    margin-bottom: 15px;
    margin-left: 28px;
}
input[type="tel"] {
    margin-bottom: 15px;
    margin-left: 5px;
}
input[type="submit"] {
    margin-left: 90px;
    margin-top: 23px;
    margin-bottom: 40px;
}
body{
    background-color: bisque;
}